<form action="/records/<%= @cur_record.id %>/tracks/new" method="POST" class="tracks-add-form">
  <input type="text" placeholder="Trackname here" name="title" value="">

  <input class="form-add-track-btn" type='submit' value='Submit Track'>
</form>