<div class='login'>
  <form action='/login' method='post'>
    <h2>Login</h2>
    <label>username:</label>
    <input type='text' name='name' /><br>

    <label>password:</label>
    <input type='text' name='password' /><br>

    <input type='submit' value='login' />
  </form>
</div>

<br>
<br>

<div class='create_account'>
  <form action='/create' method='post'>
    <h2>Create Account</h2>

    <label>username:</label>
    <input type='text' name='username' /><br>

    <label>password:</label>
    <input type='text' name='password' /><br>

    <input type='submit' value='create account' />
  </form>
</div>
