
<form action="/new" method="POST" id="record-add-form">
  <input type="text" placeholder="Album title here" name="albumtitle" value=""><br><br>
  <input type="text" placeholder="Album artist here" name="artist" value=""><br><br>
  <input type="text" placeholder="Album genre here" name="genre" 
  value=""><br><br>
  <input type="text" placeholder="Release year here" name="releaseyear" value=""><br><br>


  <textarea rows="4" cols="50" name="owneropinion" placeholder="Release year here" value = "" form="record-add-form">
  Enter your opinion on the record here...</textarea><br><br>

  <input class="form-add-btn" type='submit' value='Add Record'>
</form>